* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.side-pane{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-pane .container:hover{
    cursor: pointer;
}


.side-pane .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    gap: 15px;
    color: #716F6F;

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.side-pane .container img {
    width: 22px;
    height: 22px
}

.side-pane .first-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0F0E0E;
    font-size: 30px;
    font-weight: 700;
    gap: -30px;
}

.side-pane .first-container img{
    width: 87px;
    height: 57px;
    margin-right: -10px;
}

.side-pane .spaces-dropdown{
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.side-pane .spaces-dropdown .dropdown-content .space-button{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
    margin-top: 10px;
    align-items: center;
}

.side-pane .spaces-dropdown .dropdown-content .space-button a{
    color: #716F6F;
    text-decoration: none;
    font-size: 15px;
}

.side-pane .spaces-dropdown .dropdown-content .space-button .letter-box{
    color: white;
    padding: 3px 7px;
    border-radius: 3px;
}

.side-pane .spaces-dropdown .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#kitchen-box {
    background-color: #B22C2C;
}

#living-box {
    background-color: #A86AF8;
}

#yard-box {
    background-color: #F83FCF;
}

.side-pane .spaces-dropdown .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    color: #0F0E0E;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.side-pane .spaces-dropdown .title img {
    width: 22px;
    height: 22px;
    padding-bottom: 3px;
}


.main-pane {
    display: grid;
    grid-template-rows: 80px 1fr;
}

.main-pane .header {
   background-color: rgb(254, 254, 254);
   display: flex;
   flex-direction: row;
   gap: 15px;
   padding-left: 30px;
}

.main-pane .header .calendar-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.main-pane .header .calendar-board .container{
    background-color: #fcf6f6;
    border-radius: 20px;
    padding: 0px 8px;
}

.main-pane .header .calendar-board p{
    font-size: 20px;
}

.main-pane .body {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr;
    background-color: yellow;
}

.main-pane .body .col {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    border-left: solid rgb(137, 137, 137);
}


.body .col div{
    padding-left: 5px;
    padding-right: 5px;
    /* padding-top: -10px;
    padding-bottom: 8px; */
    height: 26px;

    border-bottom: solid rgb(137, 137, 137);
}

.body .col p {
    color: #4D4C4E;
    font-size: 15px;
    font-style: normal;
}

.body .col.status p{
    font-size: 11px;
    padding: 5px 0px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.body .col.date p{
    text-align: center;
}

.body .col.act {
    text-align: center;
}

.body .col.act input{
    display: inline-block;
}




