*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FEFFEE;
    font-family: Arial, Helvetica, sans-serif;
    gap: -30px
}

p {
    color: #5A5757;
}

.sign-up-container {
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 20px 70px 50px 70px;

    border-radius: 0px 5px 5px 0px;
    background: #FFF;
    box-shadow: 4px 8px 18.1px 7px rgba(0, 0, 0, 0.13);
}

.sign-up-container .title {
    color: #3F3D3D;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}

.sign-up-container .sub-text {
    color: #5A5757;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
}

.sign-up-container .title,.sub-text{
    text-align: left;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container form .dropdown select{
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid #A3A0A0;
    background: #FFF;
    padding-left: 10px;
}

.form-container form .dropdown p{
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 2px;
    margin-top: -10px;
    text-align: left;
}

.sign-up-container .sign-up-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.sign-up-form p {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 2px;
    margin-top: 5px;
    text-align: left;
}

.sign-up-form input{
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #A3A0A0;
    background: #FFF;
    padding-left: 10px;
}

.sign-up-form input::placeholder{
    color: #d1cbcb81;
    font-family: Inter;
    font-size: 11.5px;
    font-style: normal;
    font-weight: 700;
}

.sign-up-form .date-of-birth-box{
    position: relative;
}

.sign-up-form .date-of-birth-box img{
    position: absolute;
    top: 9px;
    right: 8px;
}

.sign-up-form .date-of-birth-box img:hover{
    cursor: pointer;
}

.sign-up-form .password-box {
    position: relative;
}

.sign-up-form .password-box img {
    position: absolute;
    top: 9px;
    right: 8px;
}

.sign-up-form .password-box img {
    cursor: pointer;
}

.sign-up-form .radio {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.sign-up-form .radio-options {
    display: flex;
    flex-direction: column;
}

.sign-up-form .radio-options p{
    margin-top: 0px;
}

.sign-up-form .options {
    width: 16px;
    height: 16px;
}

.sign-up-container .terms-container {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.sign-up-container .button-container{
    padding: 0 40px;
}

.sign-up-container button {
    width: 100%;
    height: 38px;
    background-color: #5BAC29;
    border: none;
    border-radius: 35px;
    
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;

}

.sign-up-container button:hover{
    cursor: pointer;
}

.sign-up-container span{
    color: #0F0F0F;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}

.sign-up-container input[type="checkbox"]{
    margin-right: 7px;
    border: 1px solid #A3A0A0;
}

.sign-up-container .account-text {
    color: #5A5757;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin-top: -10px;
}

.side-sign-up {
    border-radius: 5px;
    background: #5BAC29;
    box-shadow: -3px 8px 18.1px 7px rgba(0, 0, 0, 0.13);
    color: white;

    padding: 206px 60px 220px 40px;
    margin-right: -30px;

}

.side-sign-up h1{
    text-align: right;
    margin-left: 10px;
}

.side-sign-up p{
    color: white;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 100;
}
